/* 
PRODUCTS
*/
.filter-container {
  margin: 30px 20px 8px 18px;
  max-width: 260px;
}
.product-iv-1 {
   background-image: url("../assets/images/homepage3.jpg");
   background-size: cover;
   height: 600px;
   width: 100%;
   border-radius: 18px !important;
}
.product-iv-2 {
  background-image: url("../assets/images/homepage2.jpeg");
  background-size: cover;
  background-position-y: -220px;
  height: 600px;
  width: 100%;
  border-radius: 18px !important;
}
.product-grid {
  @media (min-width: 1024px) {
    padding: 0 50px; /* Adjust the padding value as needed for larger screens */
  }
}
.product-image {
  height: 458px; 
  object-fit: cover;
}
.product-categories {
  margin-top: 20px;
}
.product-categories p{
  font-size: 11px;
}
/* 
END PRODUCTS
*/

@media (min-width: 350px) and (max-width: 767px) {  
  .product-image {
    height: 478px;
  }
}