/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/* @font-face {
  font-family: AppFont;
  src: url("../../public/assets/fonts/Poppins-SemiBold.ttf"); 
} */
@font-face {
  font-family: AppFont;
  src: url("../assets/fonts/Montserrat-Regular.ttf"); 
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root,
:root[mode="md"],
:root[mode="ios"] {
	--ion-font-family: 'AppFont';
	font-family: var(--ion-font-family) !important;
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3366ff!important;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #c58b05!important;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #4D1A51!important;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #38133b;
  --ion-color-tertiary-tint: #2e0e30;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  
  --ion-toolbar-background: #AA6C4B !important;
  /* --ion-toolbar-background: linear-gradient(245deg, rgb(253, 160, 133) 0%, rgb(246, 211, 101) 100%); */

  
}

/* IONIC CUSTOM */
ion-content{
  --ion-background-color:#ffffff;
}
ion-col {
  border-radius: 10px !important;
}
ion-button {
  --border-radius: 5px !important;
  --box-shadow: none !important;
}
ion-header ion-toolbar:first-of-type {
  --min-height: 32px !important;
}
ion-card-title {
  font-size: 16px;
}
ion-card-content p{
  line-height: 1.8 !important;
}
/* END IONIC CUSTOM */
/* 
CUSTOM CSS
*/
.logo {
  height: 72px !important;
  vertical-align: middle;
  margin-right: 7px;
}
h1, h2, h3, h4, h5, h6, ion-title, ion-button, ion-icon {
  font-weight: bold;
}
p {
  line-height: 1.9;
}
.text-center {
  text-align: center;
}
.display-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-evenly {
  justify-content: space-evenly;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.max-width-260 {
   max-width: 260px;
}
.max-width-360 {
  max-width: 360px;
}
.overflow-x {
  overflow-x: auto;
}
.ps-absolute {
  position: absolute;
}
.left-10 {
  left: 10px;
}
.bs-0 {
  box-shadow: none;
}
.header-md::after {
  background-image: unset !important;
}
.copyright, .privacy-policy {
  color: #989898;
  opacity: 0.7;
  cursor: pointer;
}
.privacy-policy-btn {
  color: #989898;
  padding: 0;
  font-size: 13px;
}
.privacy-policy-btn button-native {
  padding: 0;
}
.ratings ion-icon {
    color:rgb(246, 211, 101);
}
.chip-white {
  background: white;
  border-radius: 10px;
  padding: 5px;
}
.width-full {
  width: 100%;
}
.cta-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #575C53;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.cta-button ion-icon {
  font-size: 21px;
  vertical-align: middle;
  margin-left: 5px;
}

.cta-button:hover {
  background: #384031;
}

.span-primary-w-border {
  padding: 5px 10px;
  background: linear-gradient(245deg, rgb(253, 160, 133) 0%, rgb(246, 211, 101) 100%);
  border-radius: 15px;
}
.italic {
  font-style: italic;
}
.clear-bg {
  background-color: transparent;
}
/* NAVIGATION */
.top-navigation-section {
  position: relative;
  z-index: 10;
  background: #fff;
}
.top-navigation {
  display: flex;
  align-items: center;
  padding: 0 22px;
  margin: 0;
}

.top-menu {
  display: flex;
  margin: 0 auto;
}

.top-menu div {
  margin-right: 40px;
}

.top-menu div a {
  text-decoration: none;
  color: #575C53;
}

.top-menu a {
  text-decoration: none;
  color: black; /* Or whatever color you prefer */
}

.top-menu a.active {
  border-bottom: 2px solid #ccdec3; /* Underline color and thickness */
}

/* NAVIGATION */


/* 
COLOR THEME
*/
.bg-white {
  background-color: #fff !important;
}
.bg-less-white {
  background-color: #f1f0f0 !important;
}
.bg-off-white {
  background-color: #F3EDE5 !important;
}
.bg-contrast {
  background-color: #4D1A51 !important;
}
.bg-gradient {
  background: linear-gradient(240deg, rgb(253, 160, 133) 0%, rgb(246, 211, 101) 100%);
}
.bg-off-green {
  background: #ccdec3;
}
.f-white {
  color: #fff !important;
}
.primary {
  color: #ecb22e !important;
}
.secondary {
  color: #c58b05 !important;
}
.und {
  text-decoration: underline;
}
.bold {
  font-weight: bolder;
}

/* 
END COLOR THEME
*/

/* 
SPACING
*/
.mt-20 {
  margin-top: 20px;
}
.mt-68 {
  margin-top: 68px;
}
.mb-68 {
  margin-bottom: 68px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-24 {
  margin-left: 24px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.mar-0 {
  margin: 0 !important
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-16 {
  margin-bottom: 16px;
}
.pad-100 {
  padding: 30px 100px 30px 250px;
}
.pad-0 {
  padding: 0 !important;
}
.pad-top-0 {
  padding-top: 0 !important;
}
.pad-bot-0 {
  padding-bottom: 0 !important;
}
.pad-10 {
  padding: 10px;
}
.border-rad-5 {
  border-radius: 5px;
}
.border-rad-8 {
  border-radius: 8px;;
}
.border-rad-18 {
  border-radius: 18px;
}
.spacer-50 {
  height: 50px;
}
.min-height-150 {
  min-height: 150px;
}
.min-height-399 {
  min-height: 399px;
}
.v-middle {
  vertical-align: middle;
}
/* 
END SPACING
*/

/* FONT */
h1, h2, h3, h4, h5, h6, .banner-title {
  font-family: 'Playfair Display', serif;
}
.fs-30 {
  font-size: 30px;
}
.fs-32 {
  font-size: 32px;
}
.italic {
  font-style: italic;
}
/* FONT */

/* ANIMATIONS */
.slide-left {
  position: relative;
  animation: slideToLeft 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes slideToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-right {
  position: relative;
  animation: slideToRight 1.1s ease-in-out forwards;
  opacity: 0;
}

@keyframes slideToRight {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
/* END ANIMATIONS*/



/* IPAD SIZE */
@media (min-width: 768px) and (max-width: 1024px) {
  .ipad-r-20 {
    padding: 20px;
  }
  .about-banner {
    height: 200px;
  }
  .top-menu div {
    margin-right: 22px;
  }
  .footer-wrap {
    margin: 0 20px;
  }
}
/* IPAD SIZE */

/* IPHONE SIZE */
@media (min-width: 350px) and (max-width: 767px) {
  /* .header-ios ion-toolbar:last-of-type {
    text-align: center;
  } */
  .video-background {
    max-height: 560px;
  }
  ion-card {
    margin: 0 16px !important;
  }
  p {
    line-height: 1.9;
  }
  .ipad-r-20 {
    padding: 20px;
  }
  .about-banner {
    height: 170px;
    margin-bottom: 15px;
  }
  .mpad-r-20 {
    padding: 20px;
  }
  .m-pad-top-0 {
    padding-top: 0;
  }
  .m-top-0 {
    margin-top: 0;
  }
  .mpad-0 {
    padding: 0;
  }
  .m-pad-bot-0 {
    padding-bottom: 0;
  }
  .mspacer-25 {
    height: 25px;
  }
  .display-f-none {
    display: unset !important;
  }
  .product-iv-1, .product-iv-2 {
    height: 480px;
    min-width: 350px;
  }
  .cta-button {
    padding: 12px 15px;
    font-size: 15px;
  }

  .product-section-cta {
    margin: 30px 0;
    display: flex;
    justify-content: center;
  }
  .copyright, .privacy-policy-btn {
    font-size: 13px;
    margin: 0;
  }

  .top-navigation {
    justify-content: space-between;
  }
  .top-menu {
    display: none; /* Hide the regular menu on smaller screens */
  }
  .open-menu-mobile {
    position: fixed;
    z-index: 10;
    display: inline-block;
    background: #fff;
    width: 100%;
    top: 104px;
    padding: 10px 10px;
    border-radius: 2px;
    line-height: 2.2;
    text-align: right;
  }

  .burger-menu {
    display: flex; /* Display the burger menu icon */
    flex-direction: column;
    justify-content: space-between;
    height: 20px; /* Adjust height according to your design */
    width: 30px; /* Adjust width according to your design */
    cursor: pointer;
  }

  .bar {
    width: 100%;
    height: 3px;
    background-color: #575C53;
    transition: 0.4s;
  }

  .bar.open:nth-child(1) {
    transform: rotate(-45deg) translateY(6px);
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: rotate(45deg) translateY(-6px);
  }

  .footer-wrap {
    flex-flow: wrap;
  }

  .contact-form {
    flex-flow: column-reverse;
    padding: 20px;
  }

}
/* IPHONE SIZE */


/* 
END CUSTOM CSS
*/