.blog-banner {
    background-image: url("../assets/images/blog-banner2.png");
    background-size: cover;
    background-position-y: center;
    height: 350px;
    width: 100%;
}

.blog-img-content {
    height: 480px;
    border-radius: 18px !important;
    box-shadow: 0px 2px 6px #eceaea;
    min-width: 300px;
}